cocos2d/
proj.win32/Debug.win32/
proj.win32/LostRoutes.VC.db
proj.win32/LostRoutes.VC.VC.opendb
proj.linux/
proj.tizen/
proj.android-studio/
proj.win8.1-universal/
proj.win10/
proj.android/assets
proj.android/obj/
proj.android/bin/
proj.android/gen/

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

