LostRoutes/cocos2d/
LostRoutes/proj.win32/Debug.win32/
LostRoutes/proj.win32/LostRoutes.VC.db
LostRoutes/proj.win32/LostRoutes.VC.VC.opendb
LostRoutes/proj.linux/
LostRoutes/proj.android-studio/
LostRoutes/proj.win8.1-universal/
LostRoutes/proj.win10/
LostRoutes/proj.android/assets
LostRoutes/proj.android/obj/
LostRoutes/proj.android/bin/
LostRoutes/proj.android/gen/

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
